<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h3>Profession:  <%= @user.profession %></h3>

<% if current_user.id == @user.id %>
  <%= link_to "Edit", edit_user_registration_path %>
<% end %>
