<h1><%= @user.first_name %> <%= @user.last_name %></h1>

<h3>Profession:  <%= @user.profession %></h3>





<script type="text/javascript">
  


  $(document).ready(function() {

    var Event = function(title){
      this.title = title
      this.starts_at

    }

    var eventCreator = function(jsonObject){
     
      listOfEvents = $.map(jsonObject, function(evn, i){
        return {
          title: evn.title,
          start: evn.starts_at,
          end: evn.ends_at
        }
      });
      return listOfEvents;
    }
    
    var serverEvents;
    $.ajax({
      url: "/get_events", 
      method: "get", 
      dataType: "json"
    }).done(function(serverResponse){
      serverEvents = serverResponse;
      // console.log(serverEvents[1])
      
      // setTimeout(function(){console.log(events[0])}, 1500);
      $('#calendar').fullCalendar({
        header: {
          left: 'prev,next today',
          center: 'title',
          right: 'basicWeek,month,basicDay'
        },
        defaultDate: new Date(),
        editable: true,
        events: eventCreator(serverEvents)
        // events: [

        //   {
        //     title: 'All Day Event',
        //     start: '2014-01-01'
        //   },
        //   {
        //     title: 'Wrestle an alligator',
        //     start: '2014-03-07',
        //     end: '2014-03-10'
        //   },
        //   {
        //     id: 999,
        //     title: 'Learn to code',
        //     start: '2014-01-09T16:00:00'
        //   },
        //   {
        //     id: 999,
        //     title: 'Eat a taco',
        //     start: '2014-01-16T16:00:00'
        //   },
        //   {
        //     title: 'Meeting',
        //     start: '2014-01-12T10:30:00',
        //     end: '2014-01-12T12:30:00'
        //   },
        //   {
        //     title: 'Lunch',
        //     start: '2014-01-12T12:00:00'
        //   },
        //   {
        //     title: 'Birthday Party',
        //     start: '2014-01-13T07:00:00'
        //   },
        //   {
        //     title: 'Click for DBC',
        //     url: 'http://devbootcamp.com',
        //     start: '2014-01-28'
        //   }
        // ]
      });
    });
    
  });


</script>

<style>

  body {
    margin: 0;
    padding: 0;
    font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
    font-size: 14px;
  }

  #calendar {
    width: 900px;
    height: 500px;
    margin: 40px auto;
  }

</style>

<div id='calendar'></div>